.schedule-list-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 75%;
    max-width: 500px; /* Opcional: establece un ancho máximo para evitar que el grid se expanda demasiado en pantallas grandes */
    padding: 30px;
    border-radius: 10px;
    background-color: #07B6D5;
}
.schedule-list-item:hover {
    cursor: pointer;
    background-color: #0998b1;
    transition: background-color 0.2s ease-in-out;
}
.schedule-list-item h3 {
    color: white;
}
@media (width < 501px) {
    .schedule-list-item {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        gap: 10px;
        padding: 10px;
    }
    .schedule-list-item h3 {
        font-size:small;
    }
}
