.label-input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 20px;
    width: 100%
}
.label-input label {
    margin-bottom: 10px;
}
.label-input .p-inputtext {
    width: 100%;
}
.label-input-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.label-input-icon i {
    font-size: clamp(18px, 2vw, 2.5vw);
}
.label-input-icon i:hover {
    cursor: pointer;
}
@media (width<501px) {
    .label-input {
        width: 80%;
    }
}
