.label-input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 20px;
    width: 100%
}
.label-input label {
    margin-bottom: 10px;
}
.label-input .p-inputtext {
    width: 100%;
}
