.app-toolbar {
    width: 100dvw;
}
.pi-user {
    transition: all 0.3s ease-in-out;
}
.pi-user:hover {
    cursor: pointer;
    padding: 5px;
    background-color: #0799b3;
    border-radius: 5px;
}
