.main-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    overflow-x: hidden;
}
.main-page-content-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    width: 100%; /* Asegura que el grid ocupe todo el ancho disponible */
    max-width: 920px; /* Opcional: establece un ancho máximo para evitar que el grid se expanda demasiado en pantallas grandes */
    place-items: center;
    place-content: center;
    padding: 50px;
}
.main-page-content-center img {
    display: block;
    width: 100%; /* Asegura que la imagen no se salga de su contenedor y ocupe todo el ancho disponible */
}
.main-page-content-center h2 {
    margin-bottom: 20px;
}
.main-page-content-center div:nth-child(2) {
    text-align: justify;
}
.main-page-content-center div:nth-child(3) {
    text-align: justify;
    text-align-last: center;
}
.main-page-content-center div:nth-child(3) h2, .main-page-content-center div:nth-child(4) h2 {
    text-align: center;
}
/* Media Query para pantallas menores a 500px */
@media (max-width: 500px) {
    .main-page-content-center {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cambiar minmax a 250px */
        padding: 10px; /* Cambiar padding a 10px */
    }
}
