.register {
    display: grid;
    place-content: center;
    place-items: center;
    height: 100dvh;
}
.register h1 {
    text-align: center;
    margin-bottom: 20px;
}
.register button {
    width: 100%;
}