* {
    margin: 0;
}
.toolbar, .footer {
    background-color: #07B6D5;
    border: 0;
    border-radius: 0;
    width: 100%;
}
.toolbar {
    margin-bottom: auto;
}
.toolbar h1 {
    color: white;
    font-size: clamp(17px, 2vw, 2.5vw);
}
.toolbar-button {
    background-color: transparent;
    border: none;
}
.toolbar-button:hover {
    cursor: pointer;
    background-color: #07A7C6;
}
.footer {
    margin-top: auto;
}

@media (width < 360px) {
    .toolbar button {
        padding: 0;
        font-size: 0.8rem;
        margin-right: 5px;
    }
}
